<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
        {% load static %}
        {% load crispy_forms_tags %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">AFJ v1.1</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      
      <li class="nav-item">
        <a class="nav-link " href="{% url 'website:index' %}">Página Inicial</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{% url 'website:cadastra_funcionario' %}">Cadastrar reversa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="{% url 'website:lista_funcionarios' %}">Lista de reversa</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container">
  
  
  <ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
      <a class="nav-link active" id="nav-home-tab1" data-toggle="tab" href="#nav-home1">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="nav-home-tab2" data-toggle="tab" href="#nav-home2">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"id="nav-home-tab3" data-toggle="tab" href="#nav-home3">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
</div>
</div>
    <div class="col-md-3"></div>
    <div class="col-md-6 well">
        <h3 class="text-primary">lista de revesas 
 
		    </tr></h3>
  <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home1" role="tabpanel" aria-labelledby="nav-home-tab1">
                              <table class="table table-hover table-dark">
                                  <thead>
                                      <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">NfDeEntrada</th>
                                        <th scope="col">nome</th>
                                        <th scope="col">data e-mail</th>
                                        <th scope="col">transpotadora</th>
                                      </tr>
                                  </thead>
                            </div>
                            {% for funcionario in funcionarios %}
                                          <tr> 
                                              <td>{{ funcionario.numero }}</td>
                                              <td>{{ funcionario.NfDeEntrada }}</td>
                                              <td>{{ funcionario.nome }}</td>
                                              <td>{{ funcionario.data }}</td>
                                              <td>{{ funcionario.transpotadora }}</td>
                                              {% endfor %}
  <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade " id="nav-home2" role="tabpanel2" aria-labelledby="nav-home-tab2">
                              <table class="table table-hover table-dark">
                                  <thead>
                                      <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">nome</th>
                                        <th scope="col">NF entrada</th>
                                        <th scope="col">data e-mail</th>
                                      </tr>
                                  </thead>
                            </div>
  <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                              <table class="table table-hover table-dark">
                                  <thead>
                                      <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">nome</th>
                                        <th scope="col">NF entrada</th>
                                        <th scope="col">data e-mail</th>
                                      </tr>
                                  </thead>
                            </div>                                                    
                                      {% for funcionario in funcionarios %}
                                          <tr> 
                                              <td>{{ funcionario.numero }}</td>
                                              <td>{{ funcionario.vendedor }}</td>
                                              <td>{{ funcionario.data }}</td>
                                              <td>{{ funcionario.nome }}</td>
                                              <td>{{ funcionario.NfDeOrigem }}</td>
                                              <td>{{ funcionario.NfDeEntrada }}</td>
                                              <td>{{ funcionario.NfDeSAida }}</td>
                                              <td>{{ funcionario.efeito }}</td>
                                              <td>{{ funcionario.NumeroConserto }}</td>
                                              <td>{{ funcionario.transpotadora }}</td>
                                              <td>{{ funcionario.CustoColeta }}</td>
                                              <td>{{ funcionario.CustoIda }}</td>
                                              <td>{{ funcionario.CustoVenda }}</td>
                                              
                                              <td><center><a class="btn btn-sm btn-warning" href="{% url 'website:atualiza_funcionario' pk=funcionario.id %}"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a class="btn btn-sm btn-danger" href="{% url 'website:deleta_funcionario' pk=funcionario.id %}"><span class="glyphicon glyphicon-trash"></span> Delete</a></center></td>
                                          </tr>
                                      {% endfor %}
                                      <div class="container">
                        <div class="container">
  
  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
        
            <form method="post">
        <!-- É necessário colocar o código abaixo em toda página que                   -->
        <!-- contenha um formulário para evitar o ataque de Cross Site Request Forgery -->
          {% csrf_token %}

           {{ form }}
        
   <!-- Button trigger modal (tenta fazer assim com a outra janela) -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Update
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">salvar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        Deseja salvar todas as informaçoes atualizadas
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">cancelar</button>
          <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">salvar </button>
      </div>
    </div>
  </div>
</div>

</form>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
</div>
    </tbody>
</table>        
<!--</thead>
    </ul>

    <div style="max-width: 50%;">
        <table style="border: 1px solid #BBB; width: 100%;">
            <thead>
              <tr style="width: 249px;
                           height: 48px;
                           border: 1px solid #707070;
                           background-color: #96cafd;">
                    <td><strong>numero</strong></td>
                    <td><b>vendedor</b></td>
                    <td><b>data</b></td>
                    <td><b>nome</b></td>
                    <td><b>NfDeOrigem</b></td>
                    <td><b>NfDeEntrada</b></td>
                    <td><b>NfDeSAida</b></td>
                    <td><b>defeito</b></td>
                    <td><b>NumeroConserto</b></td>
                    <td><b>transpotadora</b></td>
                    <td><b>CustoColeta</b></td>
                    <td><b>CustoIda</b></td>
                    <td><b>CustoVenda</b></td>
                    
                </tr>
            </thead>

            <tbody>
                {% for funcionario in funcionarios %}
                    <tr>
                        <td>{{ funcionario.numero }}</td>
                        <td>{{ funcionario.vendedor }}</td>
                        <td>{{ funcionario.data }}</td>
                        <td>{{ funcionario.nome }}</td>
                        <td>{{ funcionario.NfDeOrigem }}</td>
                        <td>{{ funcionario.NfDeEntrada }}</td>
                        <td>{{ funcionario.NfDeSAida }}</td>
                        <td>{{ funcionario.efeito }}</td>
                        <td>{{ funcionario.NumeroConserto }}</td>
                        <td>{{ funcionario.transpotadora }}</td>
                        <td>{{ funcionario.CustoColeta }}</td>
                        <td>{{ funcionario.CustoIda }}</td>
                        <td>{{ funcionario.CustoVenda }}</td>
                        <td><center><a class="btn btn-sm btn-warning" href="{% url 'website:atualiza_funcionario' pk=funcionario.id %}"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a class="btn btn-sm btn-danger" href="{% url 'website:deleta_funcionario' pk=funcionario.id %}"><span class="glyphicon glyphicon-trash"></span> Delete</a></center></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table> -->
   </div>
</body>
</html>